/.idea/
/.vs/
Binaries/
/Build/
/Content/Japan_Village/
/Content/Movies/
/Content/AnimStarterPack/
/Content/GhostSamurai_Bundle/
/Content/MilitaryWeapSilver/
/Content/Work/ExternalResource/
/Content/Work/Test/1/Anim/
/Content/GabrielAguiarProd/
/Content/VFX_Wind_Pack/
/Download/
Intermediate/
/Saved/
/spine-runtimes-3.8/
/Plugins/PaperZD/
/Plugins/SpinePlugin/
/ThirdParty/
*.sln
*.uproject