/.idea/
/.vs/
Binaries/
/Build/
/Content/Japan_Village/
/Content/Movies/
/Content/AnimStarterPack/
/Content/GhostSamurai_Bundle/
/Content/MilitaryWeapSilver/
/Content/Work/ExternalResource/
/Content/Work/Test/1/Anim/
/Content/Work/Test/1/CusAnim/
/Content/GabrielAguiarProd/
/Content/VFX_Wind_Pack/
/Content/InteractFx/
/Content/_GENERATED/
/Content/Megascans/
/Content/MSPresets/
/Content/Work/Map/GabrielAguiarProd/
/Content/Work/Exhibition/
/Download/
Intermediate/
/Saved/
/spine-runtimes-3.8/
/Plugins/PaperZD/
/Plugins/SpinePlugin/
/ThirdParty/
*.sln
*.uproject
*.rar
Content/M5VFXVOL2/
Content/sA_BloodMagic_1/
